@charset "UTF-8";
/*_reset.scss*/
@import url(https://fonts.googleapis.com/css?family=Nunito);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 16px;
  font-family: "微軟正黑體", arial, sans-serif;
}

a {
  text-decoration: none;
  font: inherit;
}

/*!
 *  Font Awesome 4.6.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../sass/font-awesome-4.6.3/fonts/fontawesome-webfont.eot?v=4.6.3");
  src: url("../sass/font-awesome-4.6.3/fonts/fontawesome-webfont.eot?#iefix&v=4.6.3") format("embedded-opentype"), url("../sass/font-awesome-4.6.3/fonts/fontawesome-webfont.woff2?v=4.6.3") format("woff2"), url("../sass/font-awesome-4.6.3/fonts/fontawesome-webfont.woff?v=4.6.3") format("woff"), url("../sass/font-awesome-4.6.3/fonts/fontawesome-webfont.ttf?v=4.6.3") format("truetype"), url("../sass/font-awesome-4.6.3/fonts/fontawesome-webfont.svg?v=4.6.3#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14286em;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14286em;
  width: 2.14286em;
  top: 0.14286em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714em;
}

.fa-border {
  padding: 0.2em 0.25em 0.15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}

.fa-pull-left {
  float: left;
}

.fa-pull-right {
  float: right;
}

.fa.fa-pull-left {
  margin-right: .3em;
}

.fa.fa-pull-right {
  margin-left: .3em;
}

/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}

.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x, .fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #fff;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}

/**
* SassFlexbox
* Manage Flexbox in Sass easily.
*
* @author     Samuel Marchal (zessx)
* @version    0.1
*/
/*
    Display
 */
.page-header-wrap, .header-right, .header-login ul, .main-menu .main-menu-wrap, .main-menu .main-menu-wrap nav ul, .site-search, .instant-menu-wrap ul, .geo-menu-wrap ul {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

/*
    Flex direction
 */
/*
    Flex wrap
 */
/*
    Flex flow
 */
/*
    Order
 */
/*
    Flex grow
 */
/*
    Flex shrink
 */
/*
    Flex basis
 */
/*
    Flex
 */
/*
    Justify content
 */
.page-header-wrap, .site-search {
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -webkit-flex-pack: end;
  -ms-flex-pack: end;
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

/*
    Align items
 */
.page-header-wrap, .header-right, .main-menu .main-menu-wrap, .site-search, .instant-menu-wrap ul {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}

/*
    Align self
 */
/*
    Align content
 */
/*_utility.sass*/
/*_image.scss*/
.location-east, .location-east-hover, .location-islands, .location-islands-hover, .location-north, .location-north-hover, .location-south, .location-south-hover, .location-west, .location-west-hover {
  max-width: 100%;
  background-size: 100%;
  background-image: url("../images/location.png");
}

.location-east {
  background-position: 0 0%;
  background-size: 100%;
}

.location-east-hover {
  background-position: 0 11.111111%;
  background-size: 100%;
}

.location-islands {
  background-position: 0 22.222222%;
  background-size: 100%;
}

.location-islands-hover {
  background-position: 0 33.333333%;
  background-size: 100%;
}

.location-north {
  background-position: 0 44.444444%;
  background-size: 100%;
}

.location-north-hover {
  background-position: 0 55.555556%;
  background-size: 100%;
}

.location-south {
  background-position: 0 66.666667%;
  background-size: 100%;
}

.location-south-hover {
  background-position: 0 77.777778%;
  background-size: 100%;
}

.location-west {
  background-position: 0 88.888889%;
  background-size: 100%;
}

.location-west-hover {
  background-position: 0 100%;
  background-size: 100%;
}

.logo-ez, .logo-tripadvisor, .logo-tripitta, .header-logo a, .logo-tripitta-w {
  max-width: 100%;
  background-size: 100%;
  background-image: url("../images/logo.png");
}

.logo-ez {
  background-position: 0 0%;
  background-size: 100%;
}

.logo-tripadvisor {
  background-position: 0 41.317365%;
  background-size: 100%;
}

.logo-tripitta, .header-logo a {
  background-position: 0 65.124555%;
  background-size: 100%;
}

.logo-tripitta-w {
  background-position: 0 100%;
  background-size: 100%;
}

/*_header.sass*/
.page-header {
  background: #fff;
}

.page-header-wrap {
  height: 69px;
  width: 908px;
  margin: 0 auto;
  position: relative;
}

.header-logo {
  position: absolute;
  top: 10px;
  left: 0;
}

.header-logo:hover {
  margin-top: -2px;
}

.header-logo a {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  width: 138px;
  height: 49px;
}

.header-login {
  font-size: 0.85rem;
}

.header-login ul li {
  position: relative;
  padding: 0 6px;
}

.header-login ul li:last-child {
  padding-right: 0;
  margin-right: -5px;
}

.header-login ul li:last-child:after {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  height: 12px;
  border-left: 1px solid #8f8f8f;
}

.header-login ul li a {
  color: black;
  padding: 4px;
  display: block;
}

.header-login ul li a:hover {
  color: #ff8400;
}

.header-currency {
  font-size: 0.85rem;
}

.header-currency-sel {
  padding: 5px 0;
  cursor: pointer;
}

.header-currency-sel:after {
  content: "";
  font-family: FontAwesome;
  padding: 0 20px 0 10px;
}

.header-currency-sel:hover {
  color: #ff8400;
}

.header-currency-list {
  display: none;
}

.main-menu {
  background-color: #ffe642;
}

.main-menu .main-menu-wrap {
  width: 908px;
  height: 69px;
  margin: 0 auto;
}

.main-menu .main-menu-wrap nav {
  -webkit-flex-grow: 7.3;
  -webkit-box-flex: 7.3;
  -moz-flex-grow: 7.3;
  -ms-flex-positive: 7.3;
  flex-grow: 7.3;
  -webkit-flex-shrink: 1;
  -webkit-box-flex: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -moz-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.main-menu .main-menu-wrap nav ul li {
  -webkit-flex-grow: 1;
  -webkit-box-flex: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -webkit-box-flex: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -moz-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
}

.main-menu .main-menu-wrap nav ul li a {
  display: block;
  text-align: center;
  padding: 5px 0;
  border-right: 1px solid #f0d800;
  color: black;
  font-size: 0.97rem;
  font-weight: bold;
}

.main-menu .main-menu-wrap nav ul li a:hover {
  color: #ff8400;
}

.main-menu .main-menu-wrap nav ul li:first-child a {
  border-left: 1px solid #f0d800;
}

.site-search {
  -webkit-flex-grow: 0.7;
  -webkit-box-flex: 0.7;
  -moz-flex-grow: 0.7;
  -ms-flex-positive: 0.7;
  flex-grow: 0.7;
  -webkit-flex-shrink: 1;
  -webkit-box-flex: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -moz-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  height: 50px;
}

.site-search:before {
  content: "";
  font-family: FontAwesome;
  font-size: 1.3rem;
}

.site-search:hover {
  cursor: pointer;
  position: relative;
  top: -2px;
}

/*_footer.sass*/
/*_attractions.sass*/
.key-vision {
  height: 590px;
  background: url(../images/key-vision/kv01.jpg) 50% 50% no-repeat;
  background-size: cover;
}

.instant-menu {
  position: relative;
  margin-top: -92px;
  background-color: rgba(255, 255, 255, 0.8);
}

.instant-menu-wrap {
  width: 938px;
  margin: 0 auto;
}

.instant-menu-wrap ul {
  height: 92px;
}

.instant-menu-wrap ul li {
  -webkit-flex-grow: 1;
  -webkit-box-flex: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -webkit-box-flex: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: auto;
  -moz-flex-basis: auto;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  position: relative;
  text-align: center;
  border-left: 1px solid rgba(0, 0, 0, 0.15);
}

.instant-menu-wrap ul li:first-child {
  border-left: none;
}

.instant-menu-wrap ul li:after {
  position: absolute;
  top: -53px;
  left: 50%;
  content: "";
  width: 70px;
  height: 35px;
  margin-left: -35px;
  border-radius: 100px 100px 0 0;
  background-color: rgba(255, 255, 255, 0.8);
  color: #6e6e6e;
  font-size: 1.4rem;
  padding-top: 13px;
  box-sizing: border-box;
}

.instant-menu-wrap ul li a {
  display: block;
  color: black;
  font-size: 1.4rem;
  line-height: 28px;
}

.instant-menu-wrap ul li a:hover {
  color: #ff8400;
}

.instant-menu-wrap ul li a span {
  font-size: 1.15rem;
  display: block;
  font-family: Nunito;
}

.instant-menu-wrap ul li ul {
  display: none;
}

.instant-menu-wrap .im-food:after {
  content: "";
  font-family: FontAwesome;
}

.instant-menu-wrap .im-location:after {
  content: "";
  font-family: FontAwesome;
}

.instant-menu-wrap .im-booking:after {
  content: "";
  font-family: FontAwesome;
}

.instant-menu-wrap .im-activity:after {
  content: "";
  font-family: FontAwesome;
}

.instant-menu-wrap .im-gift:after {
  content: "";
  font-family: FontAwesome;
}

.geo-menu {
  background: black;
}

.geo-menu-wrap {
  width: 938px;
  margin: 0 auto;
}

.geo-menu-wrap ul li {
  padding: 14px 0;
  -webkit-flex-grow: 1;
  -webkit-box-flex: 1;
  -moz-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -webkit-box-flex: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-flex-basis: 0;
  -moz-flex-basis: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
}

.geo-menu-wrap ul li a {
  height: 134px;
  display: block;
  border-right: 1px solid gray;
}
